:root {
    --background: #0f0715;
    --background-cards: #080000;
    --gradient-text: #8750f7;
    --gradient-color-text: #9747FF;
    --white-color: #FFFFFF;
    --color-shadow: rgba(255, 255, 255, 0.3);
    --background-cards-shadow: rgba(8, 0, 0, 0.5); 
}
