@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

@import url("../styles/variables.css");
@import url("../styles/skeleton.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    font-family: "Sora", sans-serif;
    background: var(--background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.gradient-text {
    background-image: linear-gradient(to left, var(--gradient-color-text) 0%, var(--white-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: var(--white-color);
}

.gradient-text-inverse {
    background-image: linear-gradient(to left, var(--white-color) 15%, var(--gradient-color-text) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.strong-text {
    color: var(--gradient-color-text);
}

.typewriter-cursor {
    display: contents;
    background-color: var(--white-color);
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.2);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.skeleton-animation {
    width: 24px;
    height: 24px;
    margin: 5px;
    animation: pulse 1.5s infinite ease-in-out;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}

.bg-gradient-radial {
    cursor: pointer;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 80%);
}
